@font-face {
  font-family: "RedHatText";
  src: url("/src/assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "RedHatText";
  src: url("/src/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
body {
  padding: 0%;
  margin: 0%;
}

#root {
  width: 100%;
  height: auto;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: RedHatText;
  background-color: rgb(255, 250, 244);
}
#root main {
  width: 100%;
  gap: 10vw;
  display: flex;
  flex-direction: column;
}
#root main h1 {
  width: 100%;
  font-size: 10vw;
  text-align: left;
  margin: 0%;
}
#root main .container-of-compoments {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5vw;
}
#root main .container-of-compoments .dessert {
  width: 100%;
  height: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root main .container-of-compoments .dessert > img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  z-index: 0;
  box-shadow: 0 1.7% 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  /* Apply when removed */
}
@keyframes neonBorder {
  0% {
    box-shadow: 0 0 0 rgb(188, 48, 1);
  }
  40% {
    box-shadow: 0 0 8px rgb(188, 48, 1);
  }
  60% {
    box-shadow: 0 0 12px rgb(188, 48, 1);
  }
  100% {
    box-shadow: 0 0 20px rgb(188, 48, 1);
  }
}
@keyframes neonBorderOut {
  0% {
    box-shadow: 0 0 20px rgb(188, 48, 1);
  }
  40% {
    box-shadow: 0 0 12px rgb(188, 48, 1);
  }
  60% {
    box-shadow: 0 0 8px rgb(188, 48, 1);
  }
  100% {
    box-shadow: 0 0 0 rgb(188, 48, 1);
  }
}
#root main .container-of-compoments .dessert > img.active {
  animation: neonBorder 1s forwards;
}
#root main .container-of-compoments .dessert > img.removing {
  animation: neonBorderOut 1s forwards;
}
#root main .container-of-compoments .dessert button {
  width: 55%;
  height: 20%;
  z-index: 1;
  position: relative;
  bottom: 6%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 3%;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 60px;
  box-shadow: 0 1.2cqi 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
  font-size: clamp(1rem, 4cqi, 100rem);
}
#root main .container-of-compoments .dessert button:hover, #root main .container-of-compoments .dessert button:focus-visible {
  background-color: rgb(224, 224, 224);
  transform: scale(1.05);
}
#root main .container-of-compoments .dessert button:active {
  transform: scale(0.9);
}
#root main .container-of-compoments .dessert button img {
  width: 30%;
  height: 70%;
}
#root main .container-of-compoments .dessert .increase-deacrease-button {
  grid-column: 2;
  grid-row: 1/3;
  position: relative;
  bottom: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  justify-self: right;
  width: 55%;
  height: 20%;
  border-radius: 60px;
  background-color: rgb(188, 48, 1);
  cursor: pointer;
  color: white;
  font-weight: 600;
  box-shadow: 0 1.2vw 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
#root main .container-of-compoments .dessert .increase-deacrease-button:hover, #root main .container-of-compoments .dessert .increase-deacrease-button:focus-visible {
  transform: scale(1.05);
}
#root main .container-of-compoments .dessert .increase-deacrease-button button {
  background-color: transparent;
  border: solid 2px white;
  padding: 0%;
  height: 5cqi;
  width: 5cqi;
  transition: all 0.2s ease-in-out;
}
#root main .container-of-compoments .dessert .increase-deacrease-button button:hover, #root main .container-of-compoments .dessert .increase-deacrease-button button:focus-visible {
  transform: scale(1.05);
}
#root main .container-of-compoments .dessert .increase-deacrease-button button:active {
  transform: scale(0.7);
}
#root main .container-of-compoments .dessert .increase-deacrease-button button img {
  height: 90%;
  width: 50%;
}
#root main .container-of-compoments .dessert small,
#root main .container-of-compoments .dessert h3,
#root main .container-of-compoments .dessert p {
  text-align: left;
  width: 100%;
  margin: 0%;
}
#root main .container-of-compoments .dessert small {
  font-size: 3.5cqi;
  font-weight: 500;
  color: gray;
}
#root main .container-of-compoments .dessert h3 {
  font-size: 5cqi;
  font-weight: 600;
}
#root main .container-of-compoments .dessert p {
  color: orangered;
  font-weight: 600;
  font-size: 5cqi;
}
#root footer {
  width: 100%;
}
#root footer aside.shopping-cart {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
#root footer aside.shopping-cart h1 {
  color: orangered;
  width: 88%;
  font-size: 6cqi;
}
#root footer aside.shopping-cart .ilustration-empty-cart {
  width: 80%;
  height: 50cqi;
}
#root footer aside.shopping-cart .cart-list {
  width: 85%;
}
#root footer aside.shopping-cart .cart-list section {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-top: 5%;
  height: 15cqui;
}
#root footer aside.shopping-cart .cart-list section h3 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0%;
  font-size: 3.5vw;
  font-weight: 600;
}
#root footer aside.shopping-cart .cart-list section ul {
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  list-style: none;
  gap: 5%;
  padding: 0%;
  margin-top: 0%;
}
#root footer aside.shopping-cart .cart-list section ul li.number-reapeated-products {
  color: rgb(180, 48, 0);
  font-weight: 700;
  font-size: 3vw;
}
#root footer aside.shopping-cart .cart-list section ul li.price {
  font-size: 3vw;
}
#root footer aside.shopping-cart .cart-list section ul li.multipliedPrice {
  font-size: 3vw;
}
#root footer aside.shopping-cart .cart-list section > button {
  grid-column: 2;
  grid-row: 1/3;
  align-self: center;
  justify-self: right;
  height: 4.5vw;
  width: 4.5vw;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 90%;
  border: solid 1px rgb(115, 115, 115);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#root footer aside.shopping-cart .cart-list section > button img {
  margin: 0%;
  padding: 0%;
  height: 2.7vw;
  width: 2.7vw;
}
#root footer aside.shopping-cart .cart-list section > button:hover, #root footer aside.shopping-cart .cart-list section > button:focus-visible {
  background-color: rgb(245, 243, 243);
}
#root footer aside.shopping-cart .cart-list section > button:active {
  transform: scale(1.3);
}
#root footer aside.shopping-cart .cart-list .total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
#root footer aside.shopping-cart .cart-list .total-price .calling-price {
  font-size: 4vw;
  font-weight: 600;
}
#root footer aside.shopping-cart .cart-list .total-price .number-price {
  font-weight: 700;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 7vw;
  margin: 0%;
  padding: 0%;
}
#root footer aside.shopping-cart .cart-list .green-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
}
#root footer aside.shopping-cart .cart-list .green-warning img {
  height: 80%;
  width: 10%;
}
#root footer aside.shopping-cart .cart-list .green-warning p {
  font-weight: 500;
  font-size: 3.5vw;
}
#root footer aside.shopping-cart .cart-list .green-warning p a {
  font-weight: 700;
}
#root footer aside.shopping-cart .cart-list #confirm-order-button {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 8%;
  height: 13vw;
  border-radius: 30px;
  border-style: none;
  background-color: rgb(214, 57, 0);
  color: rgb(255, 255, 255);
  font-size: 4.5vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#root footer aside.shopping-cart .cart-list #confirm-order-button:hover, #root footer aside.shopping-cart .cart-list #confirm-order-button:focus-visible {
  transform: scale(1.05);
  background-color: rgb(254, 69, 1);
}
#root footer aside.shopping-cart .cart-list #confirm-order-button:active {
  transform: scale(0.5);
}
#root footer .dialog-open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 0%;
  width: 90vw;
  height: 90vw;
  top: auto;
  border: none;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
}
#root footer .dialog-open .top-dialog-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#root footer .dialog-open .top-dialog-icons .check-icon {
  height: 100%;
  width: auto;
  /* Place at the start */
  margin-right: auto;
}
#root footer .dialog-open .top-dialog-icons .close-dialog-img {
  height: 100%;
  /* Place at the end */
  margin-left: auto;
}
#root footer .dialog-open h1 {
  font-size: 12cqi;
  padding: 0%;
  margin: 0%;
}
#root footer .dialog-open p {
  font-weight: 100;
  font-size: 4cqi;
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 8%;
}
#root footer .dialog-open .containerOfOrder {
  box-sizing: border-box;
  width: 100%;
  padding: 8%;
  margin-bottom: 8vw;
  background-color: rgb(240, 231, 218);
  border-radius: 10px;
}
#root footer .dialog-open .containerOfOrder .orderItem {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 20% 60% 20%;
  border-bottom: solid rgb(193, 193, 193) 1.2px;
  height: 13vw;
  padding-top: 5%;
}
#root footer .dialog-open .containerOfOrder .orderItem img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 80%;
  height: 80%;
  border-radius: 2vw;
}
#root footer .dialog-open .containerOfOrder .orderItem h3 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0%;
  font-size: 3vw;
  font-weight: 500;
}
#root footer .dialog-open .containerOfOrder .orderItem ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0%;
  margin: 0%;
  gap: 20%;
  list-style: none;
  justify-self: left;
  grid-column: 2/3;
  grid-row: 2;
}
#root footer .dialog-open .containerOfOrder .orderItem ul li.number-reapeated-products {
  color: orangered;
  font-weight: 700;
  font-size: 3vw;
}
#root footer .dialog-open .containerOfOrder .orderItem ul li.price {
  color: gray;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3vw;
}
#root footer .dialog-open .containerOfOrder .orderItem p {
  grid-column: 3;
  grid-row: 1/3;
  align-self: center;
  justify-self: right;
  margin: 0%;
  padding: 0%;
  font-weight: 600;
}
#root footer .dialog-open .containerOfOrder .total-checkout-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vw;
  padding-top: 2vw;
}
#root footer .dialog-open .containerOfOrder .total-checkout-price p {
  margin: 0%;
}
#root footer .dialog-open .containerOfOrder .total-checkout-price .number-price {
  font-weight: 700;
  font-size: 7vw;
}
#root footer .dialog-open #startANewOrder {
  width: 100%;
  height: 90vw;
  margin-bottom: 8vw;
  background-color: orangered;
  color: white;
  font-size: 4vw;
  font-weight: 700;
  border-radius: 30px;
  border-style: none;
  transition: all 0.2s ease;
}
#root footer .dialog-open #startANewOrder:hover, #root footer .dialog-open #startANewOrder:focus-visible {
  transform: scale(1.05);
}
#root footer .dialog-open #startANewOrder:active {
  transform: scale(0.7);
}

#root {
  /*   @media screen and (min-width: 576px) {
    header {
    }
    main {
    }
    .dialog-open {
    }
  }
  @media screen and (min-width: 768px) {
    header {
    }
    main {
    }
    .dialog-open {
    }
  } */
}
@media screen and (min-width: 992px) {
  #root {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  #root main {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    gap: 4%;
  }
  #root main h1 {
    font-size: 4cqi;
  }
  #root main .container-of-compoments {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
  }
  #root main .container-of-compoments .dessert {
    flex-direction: column;
    height: 37vw;
    width: 30%;
  }
  #root main .container-of-compoments .dessert > img {
    height: 70%;
  }
  #root main .container-of-compoments .dessert button {
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1cqi;
    padding: 2%;
  }
  #root main .container-of-compoments .dessert small {
    font-size: 1.5cqi;
  }
  #root main .container-of-compoments .dessert h3 {
    font-size: 1.5cqi;
  }
  #root main .container-of-compoments .dessert p {
    font-size: 1cqi;
  }
  #root footer {
    grid-column: 2;
    width: 100%;
  }
  #root footer aside.shopping-cart {
    width: 100%;
  }
  #root footer aside.shopping-cart h1 {
    font-size: 2cqi;
  }
}
@media screen and (min-width: 1200px) {
  #root main {
    /* .container-of-compoments {
      display: flex;
      flex-wrap: wrap;
      gap: 3%;
    }
    .dessert {
      flex-direction: column;
      flex-wrap: wrap;
      height: 30vw;
      width: 30%;
      > img {
      }
      button {
        img {
        }
      }
      .increase-deacrease-button {
        button {
        }
      }
      small {
      }
      h3 {
      }
      p {
      }
    } */
  }
}/*# sourceMappingURL=app.css.map */